.journal
    .container
        .row-flex
            .col-12
                .journal__header
                    include ../../caption/caption
                    +caption('our journal', 'journal')
    .container
        .journal__item-wrap
            div
                .journal__item.journal__item_picture
                    .journal__item-icon
                        +svg-icon('heart', 'journal__item-svg')
            div
                .journal__item
                    .journal__blue-text LOVE
                    .journal__header-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    .journal__describe-text You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.
                    .journal__number-text 01
                    .journal__triagle

            div
                .journal__item.journal__item_picture
                    .journal__item-icon
                        +svg-icon('big-water-drop', 'journal__item-svg')
            div
                .journal__item
                    .journal__blue-text tree
                    .journal__header-text Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    .journal__describe-text The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.
                    .journal__number-text 02
                    .journal__triagle

            div
                .journal__item.journal__item_picture
                    .journal__item-icon
                        +svg-icon('leaf', 'journal__item-svg')
            div
                .journal__item
                    .journal__blue-text WATER
                    .journal__header-text LITTLE PIECES OF OUR PROUDNESS
                    .journal__describe-text What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?
                    .journal__number-text 03
                    .journal__triagle
