nav.menu
    ul.menu__list
        li.menu__item
            a.menu__link(href="#about") our story
        li.menu__item
            a.menu__link(href="#services") services     
        li.menu__item 
            a.menu__link(href="#work") work
        li.menu__item
            a.menu__link(href="#journal") journal
        li.menu__item
            a.menu__link(href="#contact") contact
        li.menu__item
            a.menu__link(href="#gallery") GALLERY
        li.menu__item
            a.menu__link(href="#comments") comments
