include ../../caption/caption

.sponsors
    .sponsors__set
        .container
            a.sponsors__item(href="#")
                +svg-icon('slack-symbol', 'sponsors__svg-item')            
            a.sponsors__item(href="#")
                +svg-icon('adobe-reader-logo', 'sponsors__svg-item')            
            a.sponsors__item(href="#")
                +svg-icon('google', 'sponsors__svg-item')            
            a.sponsors__item(href="#")
                +svg-icon('facebook-logo-sq', 'sponsors__svg-item')                        
            a.sponsors__item(href="#")
                +svg-icon('spotify-logo-button', 'sponsors__svg-item')                        
            a.sponsors__item(href="#")
                +svg-icon('nike', 'sponsors__svg-item')                                