footer.footer
    .container
        .footer__wrap-content
            .footer__copy All rights reserved 2015
            .footer__social
                a.footer__social-icon(href="#")
                    +svg-icon('twitter', 'footer__social-icon-svg')
                a.footer__social-icon(href="#")
                    +svg-icon('facebook-logo', 'footer__social-icon-svg')
                a.footer__social-icon(href="#")
                    +svg-icon('vk-social-network-logo', 'footer__social-icon-svg')
                
            .footer__number 1 234 243 123            