.caption {
    text-align: center;
    position: relative;

    &::after {
        content: '';
        display: block;
        background: url(../img/waves-copy.webp);
        width: 85px;
        height: 7px;
        background-repeat: no-repeat;
        top: -37px;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    }

    &__text {
        text-transform: uppercase;
        letter-spacing: 3px;
        
        @include font-source($openSansBold, 30px, $darkBlue);
    }
}