mixin comment(comment, person, name, pos)
    .comment
        +svg-icon('quotation-mark', 'comment__icon')
        .comment__text #{comment}
        a.comment__person(href="#")
            img.comment__photo(src="./img/" + person alt="person")
            .comment__person-text
                .comment__name #{name}
                .comment__pos #{pos}
