include ../../caption/caption

.gallery
    .container
        .row-flex
            .col-12
                +caption('Gallery', 'gallery')
    .container
        .row-flex.gallery__set
            .col-3
                .gallery__item
                .gallery__item
            .col-4
                .gallery__item
                .gallery__item
            .col-5                
                .gallery__item
                .gallery__item