.gallery {
    margin-top: 108px;

    & .caption {
        margin-bottom: 66px;
    }

    &__set {
        & > div:first-child {
            @include size-sm(6);
            @include size-xs(12);
            
            & .gallery__item {
                &:first-child {
                    background: url('../img/gallery-1.webp');
                    background-size: cover;
                    height: 343px;
                    margin-bottom: 15px;
                }    

                &:nth-child(2) {
                    background: url('../img/gallery-2.webp');
                    background-size: cover;
                    height: 280px;
                }
            }   
        }

        & > div:nth-child(2) {
            @include size-sm(6);
            @include size-xs(12);
            
            & .gallery__item {
                &:first-child {
                    background: url('../img/gallery-3.webp');
                    background-size: cover;
                    height: 243px;
                    margin-bottom: 15px;
                }    

                &:nth-child(2) {
                    background: url('../img/gallery-4.webp');
                    background-size: cover;
                    height: 380px;
                }
            }   
        }

        & > div:nth-child(3) {
            @include size-sm(12);
            @include size-xs(12);
            
            & .gallery__item {
                &:first-child {
                    background: url('../img/gallery-5.webp');
                    background-size: cover;
                    height: 343px;
                    margin-bottom: 15px;
                }    

                &:nth-child(2) {
                    background: url('../img/gallery-6.webp');
                    background-size: cover;
                    height: 280px;
                }
            }   
        }
    }
}